.card-repo {
    border: solid 1px grey;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin: 20px;
    cursor: pointer;
}


.content {
    margin-left: 20px;
}
