.search-container {
    background-color: white;
    margin: 80px auto;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;
    height: auto;
}

.search {
    display: flex;
}

.search-buttom {
    margin-top: 75px;
}
